* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    font-family: "Pacifico";
    color: blue;
}

h2 {
    font-size: 14px;
}

ul,li {
    list-style-type: none;
}


p {
    text-indent: 2em;
    font-size: 15px;
    white-space: pre-wrap;

    color: #0f0;
    background-color: black;
    word-spacing: 0.3em;
}


img {
    max-width: 400px;
    border: 2px solid red;
}

.footer {
    content: "/200b";
    display: block;
    height: 0;
    clear: both;
}


#red-center {
    display: inline-block;
    width: 960px;
    margin: 0 auto;

    background-color: #f00;
    text-align: center;

}

.header {
    text-decoration: underline;
    text-transform: capitalize;
}

.trapezoid-1 {
    max-width: 300px;
    margin: 10px auto;
}

.trapezoid-1-top {
    height: 0;
    border-top: 3px solid transparent;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    border-bottom: 3px solid #111;
}

.trapezoid-1-content {
    color: #111;
    background-color: #111;
    height: 200px;
}

.trapezoid-1-bottom {
    height: 0;
    border-top: 3px solid #111;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

.r {
    margin: 5px auto;
}
.r1 {
    margin: 0 3px;
    height: 1px;
    background: #111;
}

.r2 {
    margin: 0 2px;
    border-left: 1px solid #111;
    border-right: 1px solid #111;
    height: 1px;
    background: #f4b4b4;
}

.r3 {
    margin: 0 1px;
    border-left: 1px solid #111;
    border-right: 1px solid #111;
    height: 1px;
    background: #f4b4b4;

}

.content {
    height: 100px;
    border-left: 1px solid #111;
    border-right: 1px solid #111;
    background: #f4b4b4;
}


@font-face {
    font-family: "Pacifico";
    src: url("https://mdn.mozillademos.org/files/2468/VeraSeBd.ttf")
    font-weight: bold;
}

/*方法一*/
.col-grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 20px;
    margin: 20px 0;
}

.div-a {
    width: 100px;
    background-color: orangered;
    height: 100%;
}

.div-b {
    width: calc(100% - 100px);
    background-color: blue;
}

.div-c {
    background-color: yellow;
    width: 100%;
    clear: left;
}

/*方法二*/
.col-grid-2 {
    width: 100%;
    height: 20px;
}

.div-a-1 {
    background-color: orangered;
    float: left;
    width: 100px;
}

.div-b-1 {
    background-color: blue;
    width: 100% - 200px;
}

.div-c-1 {
    background-color: yellow;
}

/* 三列布局方法一 */

.col-1,
.col-2,
.col-3 {
    height: 35px;
}

.col-grid-3 {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 200px;
    background-color: lightblue;
}

.col-2 {
    width: calc(100% - 400px);
    background-color: #f5f5f5;
}

.col-3 {
    width: 200px;
    background-color: #ffe3d7;
}

/* 双飞翼布局 */

.dw {
    width: 100%;
    margin-top: 20px;
}

.dw-main,
.dw-left,
.dw-right {
    float: left;
    height: 35px;
}

.dw-main {
    width: 100%;
    background: #f5f5f5;
}

.dw-left {
    margin-left: -100%;
    background: lightblue;
    width: 200px;
}

.dw-right {
    float: left;
    margin-left: -200px;
    width: 200px;
    background: #ffe3d7;
}

.dw-middle {
    margin-right:200px;
    margin-left: 200px;
    background: #f5f5f5;
}

/* 圣杯布局 */
#header {
    height: 35px;
    width: 100%;
    background: orangered;
    margin-top: 20px;
}

#contain .column{
    float: left;
    position: relative;
}

#contain {
    padding: 0 200px 0 200px;
}

#main {
    height: 35px;
    width: 100%;
    background: blue;
}

#sub {
    margin-left: -100%;
    width: 200px;
    height: 35px;
    left: -200px;
    background: yellow;
}

#extra {
    margin-left: -200px;
    left: 200px;
    height: 35px;
    width: 200px;
    background: lightblue;
}

#foot {
    height: 35px;
    clear: both;
    background: black;
}

.sum {
    margin-top: 20px;
    overflow: hidden;
    background: #f00;
    padding-bottom: 10px;
}

.blue {
    float: left;
    width: 100px;
    height: 50px;
    margin-left: 1em;
    margin-top: 1em;
    background: #00f;
}
