* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

ul {
    padding-left: 0;
}

.head,
.header {
    height: 70px;
    background: #353f40;
}

.head {
    width: 100%;
    position: relative;
}

.header {
    width: 980px;
    margin: 0 auto;
}

.logo {
    width: 55px;
    height: 55px;
    padding-top: 15px;
}

.header-menus {
    float: right;
    padding-top: 25px;
}

.header-menus:before,
.header-menus:after {
    content: "";
    display: table;
    clear: both;
}


.header-menu {
    list-style: none;
    float: left;
    width: 50px;
}

.github {
    position: absolute;
    right: 0;

    bottom: 0;
    padding-right: 10px;
    width: 35px;
    height: 34px;

    background: url(../imgs/icon-github.png) no-repeat;
}

@media screen and (max-width: 1040px) {
    .github {
        display: none;
    }
}

.banner {
    min-width: 980px;
    font: 0px;
}

.banner-big {
    position: relative;

    width: 980px;
    margin: 0 auto;
}

.banner-pic {
    min-width: 980px;
    width: 100%;
}

.banner-story {
    position: absolute;
    right: 0;

    bottom: 0;
    width: 400px;

    color: white;
    background: linear-gradient(to bottom, rgba(255, 255, 255, .7) 0%, rgba(255, 255, 255, .5) 25%, rgba(255, 255, 255, 0) 100%);/*利用了多背景语法*/
}

.banner-headline {
    padding-right: 10px;

    font: 14px;
    text-align: right;
}

.banner-content {
    font: 12px/1.5;
    padding: 10px 10px 10px 30px;
    text-align: left;
    text-indent: 25px;
}

.content {
    width: 100%;
    min-width: 980px;
    background: #eee;
}

.cards {
    display: flex;
    flex-wrap: nowrap;

    width: 980px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 100px;
}

.card {
    width: 320px;
    /*margin-right: 10px;*/
    margin: 0;
    margin-right: 10px;
    background: #fff;

}

.card-pic {
    width: 300px;
    height: 180px;
    margin: 10px 10px 0px 10px;
}

.card-content {
    font: 12px/1.7;
    padding: 15px 30px 25px 30px;
}

.profile {
    min-width: 980px;
    width: 100%;

    background: #fff;
}

.profile-photo {
    display: block;
    position: relative;
    top: -50px;

    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto;
}

.profile-headline {
    font: 20px #000;
    font-family: Century "Microsoft YaHei";
    text-align: center;
}

.profile-intro {
    margin: 0 auto;
    width: 600px;

    font: 14px #000;
    text-indent: 30px;
    text-align: justify;
}

.footer {
    margin-top: 50px;
    min-width:980px;
    width: 100%;

    color: white;
    background: #000;
}

.footer-menus {
    overflow: hidden;
    border-bottom: .5px solid #fff;

    width: 100%;
    min-width: 980px;
    padding-left: calc((100% - 320px)/2);
}

.footer-menu {
    float: left;

    width: 80px;

    list-style: none;
    text-align: center;
}

.footer-notes {
    display: flex;
    flex-wrap: nowrap;

    margin:0 auto;

    width: 980px;
}

.footer-links {
    width: 190px;
    margin-right: 6px;
}

.footer-link {
    text-align: left;
    list-style-type: none;
}

a:hover {
    text-decoration: underline;
}

.copyright {
    min-width: 980px;
    width: 100%;
    text-align: center;
}

.copyright-github {
    display: block;

    width: 35px;
    height: 35px;
    margin: 0 auto;

    background: url(../imgs/icon-github.png) no-repeat black;
}
